@import 'variables'

@mixin font($font_name, $file_name, $weight, $style) 
  @font-face
    font-family: $font_name
    font-display: swap
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2")
    font-weight: #{$weight}
    font-style: #{$style}

@mixin normal-button()
  cursor: pointer
  font-family: 'ProximaNovaCond'
  width: 120px
  height: 46px
  border: 1px solid $button-normal-color
  border-radius: 3px
  background: $button-normal-color
  color: #fff
  &:hover, &:active
    background: $button-hover-color
  @media (min-width: 700px)
    width: 153px
  
@mixin check
  content: ''
  display: block
  position: absolute
  bottom: 12px
  top: 4px
  left: 0px
  width: 14px
  height: 6px
  border-top-right-radius: 2px
  border-bottom-right-radius: 2px
  border-top-left-radius: 2px
  border-right: 2px solid #2998FF
  border-top: 2px solid #2998FF
  transform: rotate(135deg)
  @media  ( min-width: 1020px )
    width: 22px
    height: 10px
    top: 50%
    left: 50%

@mixin cancel($state)
  content: ''
  display: block
  position: absolute
  width: 20px
  top: 50%
  left: 50%
  transform: rotate($state)
  border: 1px solid #A3D6FF
  border-radius: 10px