@import 'variables'

@mixin font($font_name, $file_name, $weight, $style) 
  @font-face
    font-family: $font_name
    font-display: swap
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2")
    font-weight: #{$weight}
    font-style: #{$style}

@mixin normal-button()
  cursor: pointer
  font-family: 'ProximaNovaCond'
  width: 120px
  height: 46px
  border: 1px solid $button-normal-color
  border-radius: 3px
  background: $button-normal-color
  color: #fff
  &:hover, &:active
    background: $button-hover-color
  @media (min-width: 700px)
    width: 153px
  
@mixin check()
  &::before, &::after
    content: ''
    position: absolute
    margin-right: 10px
    border-radius: 4px
    height: 4px
    @media ( min-width: 1020px )
      display: block
      top: 50%
      left: 50%
  &::after
    left: 8px
    width: 7px
    background: #2998FF
    transform: rotate(229deg)
    top: 10px
    @media ( min-width: 1020px )
      width: 10px
      top: 57%
      left: 49%
  &::before
    left: 10px
    width: 15px
    background: #2998FF
    transform: rotate(310deg)
    top: 6px
    @media ( min-width: 1020px )
      width: 25px

@mixin cancel($state)
  content: ''
  display: block
  position: absolute
  width: 20px
  top: 50%
  left: 50%
  transform: rotate($state)
  border: 1px solid #A3D6FF
  border-radius: 10px