@import './base/mixin'
@import './base/variables'
@import 'fonts'
@import 'normalize.css/normalize'

*
  box-sizing: border-box
  font-family: 'Arial', serif
  font-weight: normal

.d
  font-size: 13px
  font-weight: 700
  line-height: 20px
.f
  font-family: 'ProximaNovaCond', serif
  font-weight: 800
  font-size: 40px